<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Balloon Size</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body>
<header>
    <h1>Balloon Order page - Select Balloon Size </h1>
</header>
<section>
    <h2>Choose balloon size:</h2>
    <form th:action="@{/selectBalloon}" th:method="POST">
        <input type="radio" name="size" value="Small"> Small <br/>
        <input type="radio" name="size" value="Medium"> Medium <br/>
        <input type="radio" name="size" value="Big"> Big <br/>
        <input type="radio" name="size" value="Extra Big"> Extra Big <br/>
        <br/>

        <input type="submit" value="Submit">
        <!--<a href="/deliveryInfo.html">Submit</a>-->
    </form>
</section>
<aside>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <th:block th:if="${session.order!=null}">
        <tr>
            <td><b>Balloon Type </b></td>
            <td><span th:text="${session.order.balloonColor}"></span></td>
            <td><span th:text="${session.order.balloonColor}"></span></td>
            <td><span th:text="${session.order.balloonColor}"></span></td>
            <!--<td th:text="${session.order.colorBalloon}"></td>
            <td>Red Balloon</td>-->
        </tr>
        </th:block>
    </table>
</aside>

</body>
</html>